/**/
@font-face {
    font-family: pixelart;
    src: url(etc/Symtext.ttf),
    url('symtext-webfont.woff2') format('woff2'),
    url('symtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
