/**/
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #e09efa;
}
footer, section, header{
    border-radius: 10px;
    background-color: #cbdbfc;
}
h1{
   
    color: #6a6ab8;
    font-size: 40pt;
    text-shadow: 2px 2px 4px #3f3f74;
}
p{
    text-align: justify;
    text-indent: 10%;
}
/*For the opener images!*/
img{
    border-radius: 3%;
}
/*for the iframe images*/

li{
    display: inline;
}
a{
    text-decoration: none;
}
iframe{
    border-style: inset;
    width: 99%;
    height: 30em;
}
/* Color scheme: Each page will have a different color scheme.
 To apply this, each page will have a class on their elements, and the classes will get colors.*/

/*footer configs*/
 .flot, .block{
   display: block;
 }
#center{
 text-indent: 0px;
}
